<!--titulo de la pagina y bienvenida -->
<link rel="stylesheet" href="/bootstrap/bootstrap.css">
<title>Mercado Web</title>
<script>
let nombre, respuesta; //Pregunta sobre el nombre
nombre = prompt("¿Cuál es tu nombre?", "Consuelo");
respuesta= `<h1 class="text-center">Bienvenid@ ${nombre} a Mercado Virtual: por favor escoja sus productos:</h1>`;
document.write(respuesta);
</script>